<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      <h1>名前</h1>
        <h1><%= current_user.name %></h1>
        <p><%= link_to "プロフィールを見る", current_user %></p>
        <p><%= current_user.tweets.count %> ツイート </p>
      </section>
      <section class="tweet_form">
        <%= form_for(@tweet) do |f| %>
          <% if @tweet.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <%= @tweet.errors.count %>つのエラーがあります。
              </div>
              <ul>
                <% @tweet.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="field">
            <%= f.text_area :content, required: true, placeholder: "" %>
          </div>
          <%= f.submit "投稿", class: "btn btn-primary" %>
        <% end %>

        
        <div class="search-form">
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, value: @keyword %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
        






      </section>
    </aside>
    
     <div class="col-md-8 posts_color">
    <% if @tweets.any? %>
        <%= will_paginate @tweets %>
        <ol class="tweets">
            <% @tweets.each do |tweet| %>
                <li id="tweet-<%= tweet.id %>">
                <%= tweet.id %>
                    <span class="user"><%= link_to tweet.user.name, tweet.user %></span>
                    <span class="content"><%= tweet.content %></span>
                    <span class="timestamp">
                        投稿日 <p><%= tweet.created_at.to_s(:datetime) %></p>
                        <% if current_user?(tweet.user) %>
                          <%= link_to "編集", edit_tweet_path(tweet) %>
                          <%= link_to "削除", tweet, method: :delete, data: { confirm: "削除しますか?" } %>
                          
                        <% end %>
                    </span>


                </li>
            <% end %>
        </ol>
        <%= will_paginate @tweets %>
    <% end %>
    </div>


  </div>
<% else %>
  <div class="center jumbotron home_color">
    <h1>コメントを投稿しよう</h1>
<br>
<br>
    <h3>
      新規登録 ↓
    </h3>
    <br>
    <br>

    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    <br>
    <br>
    <br>

    <%# <img src="/assets/12445_color.png"> %>
    <%= image_tag '12445_color.png', :size => '200x160'%>

  </div>
<% end %>